* {
    margin: 0;
    padding: 0%;
}

body {
    font-family: poppins, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #e8eef5;
}

.section_style {
    padding: 50px;
    border-bottom: 1px solid #c8d4E3;
}

.titre_section {
    font-weight: 400;
    color: #0055CC;
    padding-bottom: 8px;
    border-bottom: 3px solid #0055CC;
    Width: fit-content;
    /* ajuster la largeur du titre en fonction du contenu */
    margin-bottom: 20px;

}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 260px;
    margin-right: 260px;
    background-color: #ffffff;
    border: 0.73px solid #c8d4E3;
    border-radius: 8px;
}

header {
    background-color: #0055CC;
    color: #ffffff;
    padding: 50px;
    border-radius: 8px 8px 0px 0px;

}

header h1 {
    font-weight: 400;
}

header p {
    color: #ffffff;
    opacity: 0.71;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: column;
}

ul li {
    padding: 10px 16px;
    Background-color: #f5f8ff;
    border-left: 5px solid #0055CC;
    margin-bottom: 10px;

}

.mes_coordonnes p {
    margin-bottom: 10px;
}